<h1>Update User</h1>

<%= bootstrap_form_for @user, url: userphone_path do |f| %>
  <%= f.text_field :username, name: "user[username]" %>
  <% @user.phones.each do |p| %>
    <%= f.number_field "phones[]", value: p.number, label: "Current Number", name: "user[phones][]" %>
  <% end %>
  <%= f.number_field "phones[]", value: "", label: "Number To Add (numbers only)", name: "user[phones][]" %>
  <%= f.submit "Update" %>
<% end %>
