<h1>New User</h1>

<%= bootstrap_form_for @user_phones, url: userphones_path do |f| %>
  <%= f.text_field :username, name: "user[username]" %>
  <%= f.number_field "phones[]", value: "", label: "Phone 1 (numbers only)", name: "user[phones][]" %>
  <%= f.number_field "phones[]", value: "", label: "Phone 2 (numbers only)", name: "user[phones][]" %>
  <%= f.number_field "phones[]", value: "", label: "Phone 3 (numbers only)", name: "user[phones][]" %>
  <%= f.submit %>
<% end %>
